<html ng-app='myapp'>
  <head>
    <!-- scripts //-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"> </script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
    <!-- styles //-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="main.css">
    <title>greddit</title>
  </head>
  <body ng-controller="mycontroller">
    <header>
      <h1>reddit clone</h1>
      <button ng-click="toggleSubmitForm()"> <i class="fa fa-plus"></i> Submit Post </button>
      <input type="text" ng-model="searchable" placeholder="search">
      <select>
        <option> Sort by votes
        <option> Sort by title
        <option> Sort by date
      </select>
    </header>
    <div ng-show="showForm">
      <form>
        <label> Title
          <p> <input type="text" ng-model="title">
        </label>
        <p>
        <label> Author
          <p> <input type="text" ng-model="author">
        </label>
        <p>
        <label> Image URL
          <p> <input type="text" ng-model="url">
        </label>
        <p>
        <label> Description
          <p> <input type="text" ng-model="text">
        </label>
        <p>
        <input type="submit" value="Submit post">
      </form>
    </div>
    <main>
      <div ng-repeat="p in posts | filter:searchable" class="post">
        <div class="post__url">
          <img ng-src="{{p.url}}" width="200" height="200" alt="" />
        </div>
        <div class="post__content">
          <div class="post__header">
            {{p.title}} |
            <i class="fa fa-arrow-up"></i>
            <i class="fa fa-arrow-down"></i>
            {{ p.vote }}
          </div>
          <div class="post__author">
            {{ p.author }}
          </div>
          <div class="post__text">
            {{ p.text }}
          </div>
          <div class="post__footer">
            <i class="fa fa-calendar"></i> date |
            <span ng-click="toggleComments()"><i class="fa fa-comments" ></i> {{ p.comments.length }} comments </span> |
            <span ng-click="toggleCommentForm()"><i class="fa fa-pencil" ></i> add comment </span>
          </div>
          <div ng-show="showComments" class="post__comments" ng-repeat="c in p.comments">
            <li> 
              <strong> {{ c.author }} </strong> - {{ c.text }}
            </li>
          </div> <!-- end post__comments //-->
          <div ng-show="showCommentForm" class="post__commentform">
            <form>
              <label> Author
                <input type="text" ng-model="comment_author" placeholder="username">
              </label>
              <label> Text
                <input type="text" ng-model="author" placeholder="comment text">
              </label>
              <input type="submit" value="Submit post">
            </form>
          </div> <!-- end post__commentform //-->
        </div> <!-- end post__content // -->
      </div>
    </main>
  </body>
</html>
